@model Station2.Models.Invoice

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Invoice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="InvoiceId" class="control-label"></label>
            <input asp-for="InvoiceId" />
            <div class="form-group">
                <label asp-for="CustomerOrderId" class="control-label"></label>
                <select asp-for="CustomerOrderId" class="form-control" asp-items="ViewBag.CustomerOrderId"></select>
                <span asp-validation-for="CustomerOrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User" class="control-label"></label>
                <select asp-for="User" asp-items="Html.GetEnumSelectList<Station2.Enums.Users>()" class="form-control"></select>
                <span asp-validation-for="User" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceDate" class="control-label"></label>
                <input asp-for="InvoiceDate" class="form-control" />
                <span asp-validation-for="InvoiceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceState" class="control-label"></label>
                <select asp-for="InvoiceState" asp-items="Html.GetEnumSelectList<Station2.Enums.InvoiceState>()" class="form-control"></select>
                <span asp-validation-for="InvoiceState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceTotal" class="control-label"></label>
                <input asp-for="InvoiceTotal" class="form-control" />
                <span asp-validation-for="InvoiceTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

