
@model CustomerOrder


<div class="border backgroundWhite">
    <div class="row">
        <div class="col-4">
            <a asp-action="AddToShoppingCart" asp-controller="ShoppingCart" asp-area="Customer" class="btn btn-primary bg-gradient-cyan rounded-pill mr-2"><i class="fa fa-arrow-left" aria-hidden="true"></i> &nbsp; Back To cart</a>
        </div>

    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h4>You're just one step away from your order.</h4>
                    </div>


                    <form asp-action="Checkout" method="post" class="form-horizontal" role="form">

                        <div asp-validation-summary="All" class="text-danger"></div>


                        <div class="form-group">
                            <label asp-for="LastName" class="col-md-12 control-label"></label>
                            <div class="col-md-12">
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="FirstName" class="col-md-12 control-label"></label>
                            <div class="col-md-12">
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="AddressLine1" class="col-md-12 control-label"></label>
                            <div class="col-md-12">
                                <input asp-for="AddressLine1" class="form-control" />
                                <span asp-validation-for="AddressLine1" class="text-danger"></span>
                            </div>
                        </div>                      
                     <div class="form-group">
                            <label asp-for="PhoneNumber" class="col-md-12 control-label"></label>
                            <div class="col-md-12">
                                <input asp-for="PhoneNumber" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask>/>
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="Email" class="col-md-12 control-label"></label>
                            <div class="col-md-12">
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"><i class="fas fa-phone"></i></span>
                            </div>
                        </div>

                        <!--post the form-->

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-5">

                                <input type="submit" class="btn btn-danger bg-gradient-red rounded-pill" value="Complete order" />
                            </div>
                        </div>

                    </form>
                </div>


            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">
                <!-- general form elements disabled -->
                <div class="card card-warning">
                    <div class="card-header">
                        <h3 class="card-title">Your Order</h3>
                    </div>
                    <!-- /.card-header -->
                    

                </div>
            </div>

        </div>
    </div>

</section>

