@using Microsoft.AspNetCore.Identity
<!--allow us to check if the user is already signed in/-->


@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User)) //if the user is logged disply usr name and lohout option and direct them to their account
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <!--if the user is not lohed in display register/login button to create new account or loging-->
    <ul class="nav navbar-nav navbar-right">
        <!--li><a asp-area="Identity" class="btn btn-primary bg-gradient-cyan rounded-pill mr-2" asp-page="/Account/Register">Register</a></!--li-->
        <li><a asp-area="Identity" class="btn btn-primary bg-gradient-cyan rounded-pill mr-2" asp-page="/Account/Login">Login</a></li>
    </ul>
}

